canvas{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
    background-color: white;
}

.active {
    /* border: 1px solid orange; */
    color: orangered;
    background-color: #ff9a8d;
    box-shadow: 0px 0 0 1px #ff9a8d;
    animation-duration: 4s;
    animation-name: pulsing;
    animation-iteration-count: infinite;
}

.back__arrow.active{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    position: absolute;
    left: 10%;
    top: 15%;
    color: none;
    background-color: transparent;
    box-shadow: none;
    animation-duration: 4s;
    animation-name: none;
    animation-iteration-count: infinite;
}

@keyframes pulsing {
    from{
        box-shadow: 0px 0 0 2px #ff9a8d;
    }

    25%{
        box-shadow: 0px 0 0 3px #ff9a8dc5;
    }

    50%{
        box-shadow: 0px 0 0 4px #ff9a8dce;
    }

    75%{
        box-shadow: 0px 0 0 5px #ff9a8dc4;
    }

    100%{
        box-shadow: 0px 0 0 4px #ff9a8db6;
    }

    to{
        box-shadow: 0px 0 0 3px #ff9a8db0;
    }

    finally{
        box-shadow: 0px 0 0 2px #ff9a8d;
    }

}

.map__dimensions__text__900{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__dimensions__text__1000{
    display: flex;
    flex-direction: column;
}

.map__dimensions__text__900,
.map__dimensions__text__1000{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.map__name{
    position: fixed;
    top: 82%;
    left: 10%;
    font-weight: bold;
    font-size: 25px;
}

.map__id__div{
    position: fixed;
    top: 82%;
    left: 32%;
    font-weight: bold;
    font-size: 25px;
}

.color__picker{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.input__map__name{
    font-size: 20px;
    max-width: 80px;
    text-align: center;
    border: 0.01rem solid rgba(204, 180, 180, 0.575);
    margin-left: 10px;
    background-color: rgba(241, 241, 241, 0.575);
}

.input__map__name:focus{
    border: 0.1rem solid #aed6dc;
    background-color: rgba(241, 241, 241, 0.575);
    outline: none;
}

.map__ui{
    position: fixed;
    top: 85%;
    display: flex;
    max-width: 80%;
    min-width: 80%;
    min-height: 90px;
    left: 10%;
    align-items: center;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
    justify-content: space-evenly;
}

.map__ui div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3px;
}

.hide.invi{
    visibility: hidden;
}

.map__icon__container{
    display: flex;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* .map__icon__container.active{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(156, 7, 255));
} */


.map__icon{
    max-width: 25px;
    max-width: 25px;
    cursor: pointer;
}

.map__icon:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(156, 7, 255));
}

.popup__path{
    position: absolute;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
    bottom: 60px;
    background-color: rgba(236, 229, 229, 1);
}

.popup__search{
    position: absolute;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
    bottom: 75px;
    background-color: rgba(236, 229, 229, 1);
    height: 100px;
}

.popup__search,
.popup__path{
    display: flex;
}

.popup__path.hidden,
.popup__search.hidden{
    display: none;
}

.popup__path div{
    all: revert;
}

.popup__path div img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 8px;
    right: -11px;
    cursor: pointer;
}

.popup__path div img.disabled{
    width: 15px;
    height: 15px;
    position: relative;
    top: 8px;
    right: -11px;
    cursor: not-allowed;
}

.popup__path div button{
    width: 15px;
    height: 15px;
    position: relative;
    top: 4px;
    right: -8px;
    cursor: pointer;
}

.popup__path div img:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(156, 7, 255));
}

/* .map__ui button{
    display: inline-block;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    min-width: 60px;
    max-width: 60px;
    min-height: 30px;
    max-height: 30px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(36, 14, 78);
    text-transform: uppercase;
} */

/* .map__ui button:hover{
    border-color: #aed6dc;
    box-shadow: 1px 1px 5px #aed6dc;
} */

.search__bar{
    max-width: 80px;
    width: 80px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.profile__icon{
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 3px dashed purple;
    text-align: center;
    cursor: pointer;
    /* margin-left: 3vw; */
}

.profile__icon:hover{
    border: 3.5px dashed rgb(182, 26, 182);
}

.delete__button{
    background-color: rgb(255, 112, 112);
    font-weight: bolder;
}

.profile__details div{
    all: revert;
    margin-left: 5px;
    min-width: 80px;
    max-width: 80px;

}

.map__username{
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.profile__details label{
    font-size: clamp(1rem, 5vw, 1.5rem);;
    font-weight: 300;
    margin-right: 5px;
    text-align: center;
    color: rgb(77, 6, 71);
}

.error_map{
    position: absolute;
    top: 0%;
    left: 70%;
    color: red;
    text-transform: uppercase;
}

.coin{
    max-width: 20px;
    max-height: 20px;
    bottom: 19px;
    position: absolute;
    animation-duration: 3s;
    animation-name: coinflip;
    animation-iteration-count: infinite;
}

.currency{
    position: relative;
    left: 22px;
    color: rgb(255, 217, 0);
}

.arrowMap{
    all: revert;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    position: absolute;
    left: 5%;
}

.star{
    position: relative;
    bottom: 5px;
    right: 10px;
    animation-duration: 3s;
    animation-name: colorchange;
    animation-iteration-count: infinite;
}

.dimensions{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(77, 6, 71);
}

.dimensions input{
    max-width: 35px;
    max-height: 10px;
    font-size: 10px;
    margin-right: 5px;
    padding: 4px;
    margin-left: 5px;
}

.dimension__names{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(77, 6, 71);
}

.reload:hover{
    animation-duration: 2s;
    animation-name: rotatereload;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
