.map__component__image{
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border: 1px dashed  #ff9a8d;
    margin-right: 10px;
    cursor: pointer;
}

.map__component__image:hover{
    border: 2px solid  #ff9a8d;
}

.map__component__image.active{
    border: 2px solid #ff9a8d;
    position: absolute;
    z-index: 100;
    /* top: 20%; */
    left: 30vw;
    background-color: white;
    width: 50vw;
    height: 50vh;
    top: 20vh;
}

.map__component__container{
    display: flex;
    align-items: center;
}

.map__component__details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back__arrow{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    position: absolute;
    left: 7%;
    top: 14%;
}

.map__component__buttons img{
    width: 20px;
    max-height: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
}

.map__component__buttons img:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(156, 7, 255));
}

.map__component__buttons{
    display: flex;
    flex-direction: column;
}
