.map__home__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.main__map__home__container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    max-width: 55%;
    min-width: 20%;
    height: 70%;
    overflow: auto;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
}

.map__home__search__container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    min-width: 35%;
    height: 70%;
    overflow: auto;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
}

.map__home__load{
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    left: 25px;
    cursor: pointer;
    margin-right: 35px;
}

.search__container{
    display: flex;
    align-items: center;
}

.search__container > *{
    position: relative;
    left: 40px;
    margin-left: 20px;
}

.search__input{
    left: 55px;
}

.create__map{
    position: relative;
    left: 30px;
    margin: 15px;
}
