/* TODO Add site wide styles */
body{
    margin: 0;
    background-color: rgba(236, 229, 229, 0.575);
    color: rgb(94, 8, 86);
}

div{
    border-radius: 10px;
}

input{
    background-color: rgba(241, 241, 241, 0.575);
    border: 0.01rem solid rgba(204, 180, 180, 0.575);
    text-align: center;
}

input:focus{
    border: 0.1rem solid #aed6dc;
    background-color: rgba(241, 241, 241, 0.575);
    outline: none;
}

input:disabled,
input[disabled]{
    cursor: not-allowed;
}

button{
    display: inline-block;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    min-width: 60px;
    max-width: 60px;
    min-height: 30px;
    max-height: 30px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(36, 14, 78);
    text-transform: uppercase;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: wait;
}

button:hover{
    border-color: #aed6dc;
    box-shadow: 1px 1px 5px #aed6dc;
}

img.disabled{
    cursor: not-allowed;
}

.footer{
    display:flex;
    flex-direction: row;
    margin-top: auto;
}


.footer > div > img{
    cursor: pointer;
    max-height: 20px;
    max-width: 20px;
}

.footer > * {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 15px;
}

a{
    text-decoration: none;
    color: rgb(94, 8, 86);
}


/*
    LOADING ANIMATION
*/

.canvas__loading > div{
    position: absolute;
    left: 48.5vw;
    bottom: 58.5vh;
    z-index: 100;
}

.balls{
    all: revert;
    display:flex;
    flex-direction: row;
}

.balls.hidden{
    visibility: hidden;
}

.balls > div{
    margin: 2px;
    background-color: rgb(94, 8, 86);
}

.ball1{
    border: 1px solid rgb(94, 8, 86);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    animation-duration: 0.6s;
    animation-name: load;
    animation-iteration-count: infinite;
}

.ball2{
    border: 1px solid rgb(94, 8, 86);
    transform: scale(0.5);
    border-color: rgb(94, 8, 86, 0.3);
    background-color: rgb(94, 8, 86, 0.3);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    animation-duration: .6s;
    animation-name: load2;
    animation-iteration-count: infinite;
}

@keyframes load {

    from{
        border-color: rgb(94, 8, 86, 0.7);
        background-color: rgb(94, 8, 86, 0.7);
    }

    50% {
        transform: scale(0.5);
        border-color: rgb(94, 8, 86, 0.3);
        background-color: rgb(94, 8, 86, 0.3);
    }

    to {
        transform: scale(1);
        border-color: rgb(94, 8, 86, 0.9);
        background-color: rgb(94, 8, 86, 0.9);
    }
}

@keyframes load2 {

    from{
        border-color: rgb(94, 8, 86, 0.7);
        background-color: rgb(94, 8, 86, 0.7);
    }

    50% {
        transform: scale(1);
        border-color: rgb(94, 8, 86, 0.9);
        background-color: rgb(94, 8, 86, 0.9);
    }

    to {
        transform: scale(0.5);
        border-color: rgb(94, 8, 86, 0.3);
        background-color: rgb(94, 8, 86, 0.3);
    }
}


@keyframes colorchange {
    from{
        color:rgb(255, 0, 0)
    }

    5% {
        color:rgb(255, 102, 0)
    }

    10% {
        color:rgb(255, 238, 0)
    }

    15% {
        color:rgb(123, 255, 0)
    }

    20% {
        color:rgb(0, 204, 255)
    }

    25% {
        color:rgb(0, 89, 255)
    }

    30% {
        color:rgb(111, 0, 255)
    }

    40% {
        color:rgb(183, 0, 255)
    }

    50% {
        color:rgb(177, 34, 170)
    }

    60% {
        color:rgb(226, 85, 144)
    }

    70% {
        color:rgb(44, 139, 65)
    }

    80% {
        color:rgb(208, 211, 35)
    }

    90% {
        color:rgb(240, 123, 14)
    }

    to {
        color:rgb(255, 34, 218)
    }
}


@keyframes coinflip {

    from{
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }

    to{
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }
}

@keyframes bordercolorchange {

    from {
        border-color: #aed6dc;
        box-shadow: 5px 4px 15px #aed6dc;
    }

    50% {
        border-color: #ff9a8d;
        box-shadow: 5px 4px 15px #ff9a8d;
    }

    to {
        border-color:  #4a536b;
        box-shadow: 5px 4px 15px  #4a536b;
    }

}

@keyframes title {
    from {
        color:rgb(74, 6, 83);
        box-shadow: -1px 10px 5px;
    }

    10% {
        color:rgb(95, 6, 107);
        box-shadow: 0px 5px 5px;
    }

    20% {
        color:rgb(106, 10, 119);
        box-shadow: 5px 5px 5px;
    }

    30% {
        color:rgb(119, 13, 133);
        box-shadow: 5px -5px 5px;
    }

    40% {
        color:rgb(128, 18, 143);
        box-shadow: -5px -5px 5px;
    }

    50% {
        color:rgb(116, 15, 129);
        box-shadow: -8px 0px 5px;
    }

    60% {
        color:rgb(100, 11, 112);
        box-shadow: -1px 10px 5px;
    }

    70% {
        color:rgb(88, 11, 99);
        box-shadow: 0px 5px 5px;
    }

    80% {
        color:rgb(81, 10, 90);
        box-shadow: 5px 5px 5px;
    }

    90% {
        color:rgb(71, 8, 80);
        box-shadow: 5px -5px 5px;
    }

    to {
        color:rgb(62, 6, 70);
    }
}

@keyframes rotatereload {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/*
    Media Queries
*/

@media only screen and (max-width: 800px) {

    .map__dimensions__text__900, .map__dimensions__text__1000 {
        top: 73% !important;
        left: 40%;
    }

    #dimensions{
        font-size: 15px !important;
    }

    .dimension__names > label{
        font-size: 10px !important;
    }

    label {
      font-size: 30px !important;
    }

    .home__profile__image{
        margin-top: 40px;
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        border: 3px dashed purple;
    }

    .home__edit {
        position: absolute;
        left: 45%;
    }

    .side__home div label{
        font-size: 10px !important;
    }

    .edit__username {
        position: relative;
        left: 12px;;
        font-size: clamp(0.5rem, 5vw, 1rem);
        font-weight: 300;
        margin-right: 5px;
        text-align: center;
        color: rgb(77, 6, 71);
        animation-duration: 10s;
        animation-name: bordercolorchange;
        animation-iteration-count: infinite;
    }

    .edit__email {
        position: relative;
        font-size: clamp(0.5rem, 5vw, 1rem);
        font-weight: 300;
        margin-right: 5px;
        text-align: center;
        margin-bottom: 5px;
        color: rgb(77, 6, 71);
        animation-duration: 10s;
        animation-name: bordercolorchange;
        animation-iteration-count: infinite;
    }

    .star__logout {
        right: 3px;
    }

    .back__arrow__image{
        height: 30px;
        width: 30px;
    }

    .map__id__div {
        top: 82%;
        left: 70%;
    }
    .map__id__div > input{
        width: 50px;
        height: 25px;
        position: relative;
        bottom: 5px;
        left: 8px;
    }

    .tips{
        right: 10%;
        top: 10%;
    }
    .arrowMap{
        left: 3%;
        bottom: 7vh;
    }

}

@media only screen and (max-height: 1000px) {
    .map__dimensions__text__900, .map__dimensions__text__1000 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px !important;
        position: absolute;
        top: 30%;
    }

    .p__tips{
        font-size: 12px;
    }
}


@media only screen and (max-width: 650px) {
    .tips__intro{
        font-size: 5px;
    }
}

@media only screen and (min-height: 450px) and (max-height: 950px) {

    #dimensions{
        font-size: 15px !important;
    }

    .dimension__names > label{
        font-size: 10px !important;
    }

    label {
        font-size: 30px !important;
    }

    .back__arrow__image{
        height: 30px;
        width: 30px;
    }

    .home__profile__image{
        margin-top: 40px;
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
        border-radius: 50%;
        border: 3px dashed purple;
    }

    .home__edit {
        position: absolute;
        left: 45%;
    }

    .dimension__names{
        font-size: 10px !important;
    }

    .side__home div label{
        font-size: 10px !important;
    }

    .edit__username {
        position: relative;
        left: 12px;;
        font-size: clamp(0.5rem, 5vw, 1rem);
        font-weight: 300;
        margin-right: 5px;
        text-align: center;
        color: rgb(77, 6, 71);
        animation-duration: 10s;
        animation-name: bordercolorchange;
        animation-iteration-count: infinite;
    }

    .edit__email {
        position: relative;
        font-size: clamp(0.5rem, 5vw, 1rem);
        font-weight: 300;
        margin-right: 5px;
        text-align: center;
        margin-bottom: 5px;
        color: rgb(77, 6, 71);
        animation-duration: 10s;
        animation-name: bordercolorchange;
        animation-iteration-count: infinite;
    }

    .star__logout {
        right: 3px;
    }


    .map__ui{
        height: 75px;
    }

    .input__map__name {
        height: 15px;
    }

    .dimensions input {
        max-height: 5px;
    }

    .map__name {
        /* top: 80%; */
    }

    .map__id__div {
        top: 82%;
        left: 70%;
    }

    .map__id__div > input{
        width: 50px;
        height: 25px;
        position: relative;
        bottom: 5px;
        left: 8px;
    }

    .tips{
        right: 3%;
        top: 78%;
    }


    .tips__navigation-button {
        width: 0.5rem;
        height: 0.5rem;
    }

    .tips__navigation-button.active {
        border-color: #f7a99f;
        width: 0.7rem;
        height: 0.7rem;
    }

    .tips__navigation-button:hover{
        width: 0.7rem;
        height: 0.7rem;
    }
}


@media only screen and (max-height: 650px) {
    .footer {
        position: absolute;
        flex-direction: column;
        align-items: center;
        height: 150px;
        left: 8vw;
        bottom: 100px;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 1000px) {
    /* .footer {
        position: absolute;
        flex-direction: column;
        align-items: center;
        height: 150px;
        left: 95px;
        bottom: 100px;
        justify-content: space-between;
    } */
    .map__id__div {
        position: fixed;
        top: 82%;
        left: 50%;
        font-weight: bold;
        font-size: 25px;
    }

    .p__tips{
        font-size: 12px;
    }

    .tips__navigation-button.active {
        border-color: #f7a99f;
        width: 0.7rem;
        height: 0.7rem;
    }

    .tips__navigation-button {
        width: 0.5rem;
        height: 0.5rem;
    }

    .tips__navigation-button:hover{
        width: 0.7rem;
        height: 0.7rem;
    }

}



@media only screen and (max-height: 550px) and (min-width: 850px){
    label {
        font-size: 15px !important;
    }

    .home__profile__image{
        margin-top: 40px;
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        border: 3px dashed purple;
    }
    .home__coin{
        height: 25px;
        width: 25px;
    }
}
