/* TODO Add site wide styles */
body{
    margin: 0;
    background-color: rgba(236, 229, 229, 0.575);
    color: rgb(94, 8, 86);
}

div{
    border-radius: 10px;
}

input{
    background-color: rgba(241, 241, 241, 0.575);
    border: 0.01rem solid rgba(204, 180, 180, 0.575);
    text-align: center;
}

input:focus{
    border: 0.1rem solid #aed6dc;
    background-color: rgba(241, 241, 241, 0.575);
    outline: none;
}

button{
    display: inline-block;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    min-width: 60px;
    max-width: 60px;
    min-height: 30px;
    max-height: 30px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(36, 14, 78);
    text-transform: uppercase;
}

button:hover{
    border-color: #aed6dc;
    box-shadow: 1px 1px 5px #aed6dc;
}

.footer{
    display:flex;
    flex-direction: row;
    margin-top: auto;
}


.footer > div > img{
    cursor: pointer;
    max-height: 20px;
    max-width: 20px;
}

.footer > * {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 15px;
}

a{
    text-decoration: none;
    color: rgb(94, 8, 86);
}


@keyframes colorchange {
    from{
        color:rgb(255, 0, 0)
    }

    5% {
        color:rgb(255, 102, 0)
    }

    10% {
        color:rgb(255, 238, 0)
    }

    15% {
        color:rgb(123, 255, 0)
    }

    20% {
        color:rgb(0, 204, 255)
    }

    25% {
        color:rgb(0, 89, 255)
    }

    30% {
        color:rgb(111, 0, 255)
    }

    40% {
        color:rgb(183, 0, 255)
    }

    50% {
        color:rgb(177, 34, 170)
    }

    60% {
        color:rgb(226, 85, 144)
    }

    70% {
        color:rgb(44, 139, 65)
    }

    80% {
        color:rgb(208, 211, 35)
    }

    90% {
        color:rgb(240, 123, 14)
    }

    to {
        color:rgb(255, 34, 218)
    }
}


@keyframes coinflip {

    from{
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }

    to{
        transform: scaleX(1);
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }
}

@keyframes bordercolorchange {

    from {
        border-color: #aed6dc;
        box-shadow: 5px 4px 15px #aed6dc;
    }

    50% {
        border-color: #ff9a8d;
        box-shadow: 5px 4px 15px #ff9a8d;
    }

    to {
        border-color:  #4a536b;
        box-shadow: 5px 4px 15px  #4a536b;
    }

}

@keyframes title {
    from {
        color:rgb(74, 6, 83);
        box-shadow: -1px 10px 5px;
    }

    10% {
        color:rgb(95, 6, 107);
        box-shadow: 0px 5px 5px;
    }

    20% {
        color:rgb(106, 10, 119);
        box-shadow: 5px 5px 5px;
    }

    30% {
        color:rgb(119, 13, 133);
        box-shadow: 5px -5px 5px;
    }

    40% {
        color:rgb(128, 18, 143);
        box-shadow: -5px -5px 5px;
    }

    50% {
        color:rgb(116, 15, 129);
        box-shadow: -8px 0px 5px;
    }

    60% {
        color:rgb(100, 11, 112);
        box-shadow: -1px 10px 5px;
    }

    70% {
        color:rgb(88, 11, 99);
        box-shadow: 0px 5px 5px;
    }

    80% {
        color:rgb(81, 10, 90);
        box-shadow: 5px 5px 5px;
    }

    90% {
        color:rgb(71, 8, 80);
        box-shadow: 5px -5px 5px;
    }

    to {
        color:rgb(62, 6, 70);
    }
}
