/* .signup__form{
    display: flex;
    display: flex;
    flex-direction: column;
}

.main__home .signup__form{
    margin: 85px;
} */

.signup__buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}
