.home__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.main__home{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 50%;
    min-width: 20%;
    height: 70%;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
}

.star__home{
    position: relative;
    bottom: 25px;
    animation-duration: 3s;
    animation-name: colorchange;
    animation-iteration-count: infinite;
    font-size: 45px;
}

.main__home > *{
    margin: 10px;
    font-weight: 700;
}

.side__home{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 20%;
    height: 70%;
    animation-duration: 10s;
    animation-name: bordercolorchange;
    animation-iteration-count: infinite;
}

.side__home > *{
    margin: 10px;
    font-weight: 700;
}

.home__profile__image{
    margin-top: 40px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 3px dashed purple;
}

.home__profile__image__container{
    display: flex;
}

.home__profile__image:hover{
    border: 3.5px dashed rgb(182, 26, 182);
}

.home__username{
    font-size: 70px;
}


.home__edit{
    position: absolute;
    left: 50%;
}

.home__currency{
    font-size: 85px;
    margin-left: 5px;
    margin-right: 5px;
}

.home__maps{
    cursor: pointer;
    font-size: 60px;
}

.home__start__game{
    cursor: pointer;
    font-size: 60px;
}

.home__coin{
    display:inline-block;
    margin:auto;
    animation-duration: 3s;
    animation-name: coinflip;
    animation-iteration-count: infinite;
}

.home__maps:hover{
    cursor: pointer;
    font-size: 65px;
    color: rgb(124, 10, 113);
}

.home__start__game:hover{
    cursor: pointer;
    font-size: 65px;
    color: rgb(124, 10, 113);
}

.edit__profile__button{
    display: inline-block;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    min-width: 60px;
    max-width: 60px;
    min-height: 30px;
    max-height: 30px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(36, 14, 78);
    text-transform: uppercase;
}

.edit__profile__button:hover{
    border-color: #aed6dc;
    box-shadow: 1px 1px 5px #aed6dc;
}
